# -----------------------------------------------------------------------------
# Keil MDK-ARM project - Git Ignore Template
# Purpose: Track all source/config files, ignore intermediate build output
# -----------------------------------------------------------------------------
# Build output / temporary files
*.axf
*.elf
#*.hex
*.bin
*.lst
*.map
*.o
*.d
*.dep
*.crf
*.sct
*.tra
*.plg
*.bak
*.log
*.iex
*.lnp
*.tmp

#Listings / reports / debug output
*.htm
*.uvtmp
*.uvguix.*
*.dbgconf
*.crf
build/

# VS Code
.vscode/
#Keep project source and congfig files
!*.uvprojx
!*.uvoptx
!*.c
!*.h

